{% extends "base.html" %}

{% block content %}
<div class="container my-5">
    <div class="row justify-content-center">
        <div class="col-lg-8">
            <h1 class="text-center mb-4">Support & Contact</h1>
            <div class="card p-4">
                <p>If you have any questions or feedback, feel free to reach out to us. We are here to help!</p>
                <ul class="list-unstyled">
                    <li><strong>Email:</strong> support@nsgblogging.com</li>
                    <li><strong>Phone:</strong> +91 98765 43210</li>
                    <li><strong>Address:</strong> 123 Blog Street, Hyderabad, India</li>
                </ul>
            </div>
        </div>
    </div>
</div>
{% endblock %}